<!-- Scale up-->
<div class="row">
  <div class="col-12 col-sm-12 col-md-3">
    <div class="ih-item circle effect6 scale_up">
      <a href="#">
        <div class="img">
            <img src="assets/images/IMG_20240106_095944.jpg" alt="img" />
        </div>
        <div class="info">
          <h3>Heading here</h3>
          <p>Description goes here</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-3">
    <div class="ih-item circle colored effect6 scale_up">
      <a href="#">
        <div class="img"><img src="assets/images/IMG_20240106_084631.jpg" alt="img" /></div>
        <div class="info">
          <h3>Heading here</h3>
          <p>Description goes here</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-3">
    <div class="ih-item circle effect6 scale_down">
      <a href="#">
        <div class="img"><img src="assets/images/IMG_20240203_133143.jpg" alt="img" /></div>
        <div class="info">
          <h3>Heading here</h3>
          <p>Description goes here</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-3">
    <div class="ih-item circle effect6 scale_down">
      <a href="#">
        <div class="img"><img src="assets/images/IMG_20240302_193357.jpg" alt="img" /></div>
        <div class="info">
          <h3>Heading here</h3>
          <p>Description goes here</p>
        </div>
      </a>
    </div>
  </div>

  
</div>
