<style>
  body {
    padding-top: 0px !important;
  }
  .fondo-full {
    width: 100%;
    height: 100vh;
    background-image: url("assets/images/IMG_20240519_112124.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
</style>
<div class="fondo-full">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4">
        <div class="ih-item circle effect3 left_to_right">
          <a href="#">
            <div class="img">
              <img src="assets/images/IMG_20240219_212556.jpg" alt="img" />
            </div>
            <div class="info">
              <h3>CONTIGO</h3>
              <p>
                Cada instante a tu lado es un tesoro que atesoro en mi corazón
              </p>
            </div></a
          >
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <div class="ih-item circle colored effect3 left_to_right">
          <a href="#">
            <div class="img">
              <img src="assets/images/SAVE_20240404_214523.jpg" alt="img" />
            </div>
            <div class="info">
              <h3>EN LA DISTANCIA</h3>
              <p>
                No disminuye mi deseo, solo aumenta las ganas de verte
                nuevamente
              </p>
            </div></a
          >
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <div class="ih-item circle effect3 right_to_left">
          <a href="#">
            <div class="img">
              <img src="assets/images/IMG-20240322-WA0004.jpg" alt="img" />
            </div>
            <div class="info">
              <h3>Sueños y &nbsp;&nbsp; Anhelos</h3>
              <p>&nbsp;&nbsp; Juntos compartiendo y disfrutando de la vida</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <br />
  </div>
</div>
