<div class="bs-example">
 
    <!-- Top to bottom-->
    <div class="row">
      <div class="col-sm-6">
     
        <!-- normal -->
        <div class="ih-item circle effect10 top_to_bottom"><a href="#">
            <div class="img">
                <img src="assets/images/IMG_20240106_095944.jpg" alt="img">
            </div>
            <div class="info">
              <h3>Heading here</h3>
              <p>Description goes here</p>
            </div></a></div>
        <!-- end normal -->
     
      </div>
      <div class="col-sm-6">
     
        <!-- colored -->
        <div class="ih-item circle colored effect10 top_to_bottom"><a href="#">
            <div class="img"><img src="images/assets/2.jpg" alt="img"></div>
            <div class="info">
              <h3>Heading here</h3>
              <p>Description goes here</p>
            </div></a></div>
        <!-- end colored -->
     
      </div>
    </div>
    <!-- end Top to bottom-->
     
     
    <!-- Bottom to top-->
    <div class="row">
      <div class="col-sm-6">
     
        <!-- normal -->
        <div class="ih-item circle effect10 bottom_to_top"><a href="#">
            <div class="img"><img src="images/assets/3.jpg" alt="img"></div>
            <div class="info">
              <h3>Heading here</h3>
              <p>Description goes here</p>
            </div></a></div>
        <!-- end normal -->
     
      </div>
      <div class="col-sm-6">
     
        <!-- colored -->
        <div class="ih-item circle colored effect10 bottom_to_top"><a href="#">
            <div class="img"><img src="images/assets/4.jpg" alt="img"></div>
            <div class="info">
              <h3>Heading here</h3>
              <p>Description goes here</p>
            </div></a></div>
        <!-- end colored -->
     
      </div>
    </div>
    <!-- end Bottom to top-->